
<div id="#photoDetailContainer">

  {{#if photo }}

    {{ photo.id }}

    <img src="{{ photo.detailImage }}" alt="">

    <div class="photo__meta">

      {{ photo.date }} <br>
      {{#if likes }}
        Лайки: <span style="color:maroon">{{ photo.likes }}</span>  <br>
      {{else}}
        Нет лайков :( <br>
      {{/if}}

      {{#if reposts }}
        Репосты: {{ reposts }} <br>
      {{else}}
        Нет репостов :( <br>
      {{/if}}

    </div>

  {{/if}}

</div>
