
<div id="#photoDetailContainer" class="detail-section__image">

    <figure class="detail-image">

      <div class="detail-image__image-container">

        <img src="{{ detailImage }}" alt="Фото №{{ id }}">

      </div>

      <figcaption class="detail-image__meta">

        <p class="detail-image__meta__id">
          Фото #{{ id }},
        </p>

        <p class="detail-image__meta__date">
          {{ date }}
        </p>



        {{#if text }}
          <p class="detail-image__meta__text">
            {{ text }}
          </p>
        {{/if}}

        <div class="detail-image__meta__social-activity">

          <div class="social-activity-item">
            <span class="social-activity-item__key">Нравится:</span>

            <span
              class="social-activity-item__value">
              {{#if likes}}
                {{ likes }}
              {{else}}
                пока никому не понравилось
              {{/if}}
            </span>

          </div>

          <div class="social-activity-item">
            <span class="social-activity-item__key">Поделилилсь:</span>

            <span class="social-activity-item__value">
              {{#if reposts }}
                {{ reposts }}
              {{else}}
                пока никто не поделился
              {{/if}}
            </span>


          </div>

        </div>

      </figcaption>

    </figure>

</div>
