
<div id="#photoDetailContainer">

    {{ id }}
    {{ detailImage }} <br>

    <img src="{{ detailImage }}" alt="">

    <div class="photo__meta">

      {{ date }} <br>

      {{#if likes }}
        Лайки: <span style="color:maroon">{{ likes }}</span>  <br>
      {{else}}
        Нет лайков :( <br>
      {{/if}}

      {{#if reposts }}
        Репосты: {{ reposts }} <br>
      {{else}}
        Нет репостов :( <br>
      {{/if}}

    </div>

</div>
