
<div id="#photoDetailContainer">

  {{ id }}

  <img src="{{ detailImage }}" alt="">

  <div class="photo__meta">


    {{#if likes }}
      Лайки: <span style="color:maroon">{{ likes.count }}</span>  <br>
    {{else}}
      Нет лайков :( <br>
    {{/if}}

    {{#if reposts }}
      Репосты: {{ reposts }} <br>
    {{else}}
      Нет репостов :( <br>
    {{/if}}

  </div>

</div>
